* {
  background-color: #001219;
  color: #e5e5e5;
}

.title-card {
  padding: 14px;
}

.title {
  text-align: center;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: bold;
}

.title-text {
  text-align: center;
  font-family: sans-serif;
}

.content {
  background-color: #14213d;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.button-container {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  background-color: #14213d;
  padding: 10px;
}

button {
  width: 120px;
  height: 40px;
  background-color: #fca311;
  color: white;
  font-weight: bold;
}

.score-title,
.score-nums {
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  white-space: pre;
}